body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:45px;
  background:inherit;
  background-color:rgba(233, 236, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 236, 239, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3538 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:118px;
  width:224px;
  height:45px;
  display:flex;
  font-size:18px;
}
#u3538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3539 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:164px;
  width:129px;
  height:258px;
}
#u3539_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:258px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:258px;
}
#u3541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
}
#u3541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u3542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:129px;
  height:45px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u3543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:129px;
  height:45px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:43px;
}
#u3544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:131px;
  width:129px;
  height:43px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
}
#u3545 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:129px;
  height:42px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
}
#u3546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:216px;
  width:129px;
  height:42px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3547 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:41px;
  width:129px;
  height:90px;
  visibility:hidden;
}
#u3547_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:90px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:90px;
}
#u3549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u3549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u3550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:129px;
  height:45px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3551 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:86px;
  width:129px;
  height:90px;
  visibility:hidden;
}
#u3551_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:90px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:90px;
}
#u3553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u3553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u3554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:129px;
  height:45px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3555 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:131px;
  width:129px;
  height:86px;
  visibility:hidden;
}
#u3555_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:86px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:86px;
}
#u3557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:43px;
}
#u3557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:43px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:43px;
}
#u3558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:43px;
  width:129px;
  height:43px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3559 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:174px;
  width:129px;
  height:84px;
  visibility:hidden;
}
#u3559_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:84px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:84px;
}
#u3561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
}
#u3561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
}
#u3562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:129px;
  height:42px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3563 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:216px;
  width:129px;
  height:210px;
  visibility:hidden;
}
#u3563_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:210px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:210px;
}
#u3565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
}
#u3565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
}
#u3566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:129px;
  height:42px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
}
#u3567 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:129px;
  height:42px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
}
#u3568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:129px;
  height:42px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
}
#u3569 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:129px;
  height:42px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u3570 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:54px;
  width:161px;
  height:45px;
  display:flex;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u3570 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3570_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
}
#u3571 {
  border-width:0px;
  position:absolute;
  left:1808px;
  top:25px;
  width:52px;
  height:51px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1688px;
  height:2px;
}
#u3572 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:94px;
  width:1687px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.20380959946548133deg);
  -moz-transform:rotate(-0.20380959946548133deg);
  -ms-transform:rotate(-0.20380959946548133deg);
  transform:rotate(-0.20380959946548133deg);
}
#u3572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1059px;
}
#u3573 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:22px;
  width:1px;
  height:1058px;
  display:flex;
  -webkit-transform:rotate(-0.001326984967644358deg);
  -moz-transform:rotate(-0.001326984967644358deg);
  -ms-transform:rotate(-0.001326984967644358deg);
  transform:rotate(-0.001326984967644358deg);
}
#u3573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
}
#u3574 {
  border-width:0px;
  position:absolute;
  left:1702px;
  top:43px;
  width:32px;
  height:33px;
  display:flex;
}
#u3574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3575_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3575 {
  border-width:0px;
  position:absolute;
  left:1718px;
  top:25px;
  width:30px;
  height:30px;
  display:flex;
}
#u3575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3576 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:132px;
  width:310px;
  height:45px;
  display:flex;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3576 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3576_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1691px;
  height:2px;
}
#u3577 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:202px;
  width:1690px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.1416197728599127deg);
  -moz-transform:rotate(-0.1416197728599127deg);
  -ms-transform:rotate(-0.1416197728599127deg);
  transform:rotate(-0.1416197728599127deg);
}
#u3577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3578 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:222px;
  width:129px;
  height:45px;
  display:flex;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3578 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3578_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3579 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:506px;
  width:138px;
  height:45px;
  display:flex;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3579 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3579_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3580 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:287px;
  width:898px;
  height:189px;
}
#u3581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
}
#u3581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
}
#u3582 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:148px;
  height:44px;
  display:flex;
}
#u3582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:44px;
}
#u3583 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:0px;
  width:155px;
  height:44px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:44px;
}
#u3584 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:0px;
  width:196px;
  height:44px;
  display:flex;
}
#u3584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u3585 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:0px;
  width:150px;
  height:44px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:44px;
}
#u3586 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:0px;
  width:149px;
  height:44px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u3587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:100px;
  height:45px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:45px;
}
#u3588 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:44px;
  width:148px;
  height:45px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
}
#u3589 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:44px;
  width:155px;
  height:45px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:45px;
}
#u3590 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:44px;
  width:196px;
  height:45px;
  display:flex;
}
#u3590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u3591 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:44px;
  width:150px;
  height:45px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:45px;
}
#u3592 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:44px;
  width:149px;
  height:45px;
  display:flex;
}
#u3592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:51px;
}
#u3593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:100px;
  height:51px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:51px;
}
#u3594 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:89px;
  width:148px;
  height:51px;
  display:flex;
}
#u3594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:51px;
}
#u3595 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:89px;
  width:155px;
  height:51px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:51px;
}
#u3596 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:89px;
  width:196px;
  height:51px;
  display:flex;
}
#u3596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:51px;
}
#u3597 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:89px;
  width:150px;
  height:51px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:51px;
}
#u3598 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:89px;
  width:149px;
  height:51px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u3599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:100px;
  height:49px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:49px;
}
#u3600 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:140px;
  width:148px;
  height:49px;
  display:flex;
}
#u3600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:49px;
}
#u3601 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:140px;
  width:155px;
  height:49px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:49px;
}
#u3602 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:140px;
  width:196px;
  height:49px;
  display:flex;
}
#u3602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:49px;
}
#u3603 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:140px;
  width:150px;
  height:49px;
  display:flex;
}
#u3603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:49px;
}
#u3604 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:140px;
  width:149px;
  height:49px;
  display:flex;
}
#u3604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 235, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 235, 241, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FD397A;
  text-align:left;
}
#u3605 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:344px;
  width:109px;
  height:26px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FD397A;
  text-align:left;
}
#u3605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3605_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
  background:inherit;
  background-color:rgba(253, 19, 97, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(253, 19, 97, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FD397A;
  text-align:left;
}
#u3605.mouseOver {
}
#u3605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3606 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:607px;
  width:1442px;
  height:170px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3606 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1455px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3607 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:569px;
  width:1455px;
  height:38px;
  display:flex;
}
#u3607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-style:normal;
}
#u3608 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:572px;
  width:205px;
  height:33px;
  display:flex;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-style:normal;
}
#u3608 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3608_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u3609 {
  border-width:0px;
  position:absolute;
  left:1677px;
  top:579px;
  width:25px;
  height:20px;
  display:flex;
}
#u3609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3610 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:815px;
  width:1437px;
  height:170px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3610 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1455px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3611 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:777px;
  width:1455px;
  height:38px;
  display:flex;
}
#u3611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-style:normal;
}
#u3612 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:780px;
  width:277px;
  height:33px;
  display:flex;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-style:normal;
}
#u3612 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3612_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u3613 {
  border-width:0px;
  position:absolute;
  left:1677px;
  top:788px;
  width:25px;
  height:20px;
  display:flex;
}
#u3613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3614 {
  border-width:0px;
  position:absolute;
  left:1743px;
  top:110px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3615 {
  border-width:0px;
  position:absolute;
  left:1673px;
  top:488px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3616 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:488px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#02A7F0;
}
#u3617 {
  border-width:0px;
  position:absolute;
  left:1587px;
  top:579px;
  width:89px;
  height:30px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#02A7F0;
}
#u3617 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3617_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#02A7F0;
}
#u3618 {
  border-width:0px;
  position:absolute;
  left:1587px;
  top:788px;
  width:89px;
  height:30px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#02A7F0;
}
#u3618 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3618_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
  background:inherit;
  background-color:rgba(238, 240, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 240, 252, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5867DD;
  text-align:left;
}
#u3619 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:1124px;
  width:64px;
  height:38px;
  display:flex;
  color:#5867DD;
  text-align:left;
}
#u3619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3619_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
  background:inherit;
  background-color:rgba(56, 74, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 74, 215, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5867DD;
  text-align:left;
}
#u3619.mouseOver {
}
#u3619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
  background:inherit;
  background-color:rgba(232, 249, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 249, 248, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1DC9B7;
  text-align:left;
}
#u3620 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:1124px;
  width:64px;
  height:38px;
  display:flex;
  color:#1DC9B7;
  text-align:left;
}
#u3620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3620_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
  background:inherit;
  background-color:rgba(24, 168, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(24, 168, 153, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1DC9B7;
  text-align:left;
}
#u3620.mouseOver {
}
#u3620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
  background:inherit;
  background-color:rgba(238, 241, 253, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 241, 253, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5867DD;
  text-align:left;
}
#u3621 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:1124px;
  width:64px;
  height:38px;
  display:flex;
  color:#5867DD;
  text-align:left;
}
#u3621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3621_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
  background:inherit;
  background-color:rgba(56, 74, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 74, 215, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5867DD;
  text-align:left;
}
#u3621.mouseOver {
}
#u3621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 235, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 235, 241, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FD397A;
  text-align:left;
}
#u3622 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:1124px;
  width:64px;
  height:38px;
  display:flex;
  color:#FD397A;
  text-align:left;
}
#u3622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3622_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
  background:inherit;
  background-color:rgba(253, 19, 97, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(253, 19, 97, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FD397A;
  text-align:left;
}
#u3622.mouseOver {
}
#u3622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
  background:inherit;
  background-color:rgba(238, 240, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 240, 252, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#9816F4;
  text-align:left;
}
#u3623 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:1124px;
  width:64px;
  height:38px;
  display:flex;
  color:#9816F4;
  text-align:left;
}
#u3623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3623_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
  background:inherit;
  background-color:rgba(152, 22, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(152, 22, 244, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#9816F4;
  text-align:left;
}
#u3623.mouseOver {
}
#u3623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 248, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 248, 232, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFB822;
  text-align:left;
}
#u3624 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:1124px;
  width:64px;
  height:38px;
  display:flex;
  color:#FFB822;
  text-align:left;
}
#u3624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3624_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
  background:inherit;
  background-color:rgba(251, 170, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(251, 170, 0, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFB822;
  text-align:left;
}
#u3624.mouseOver {
}
#u3624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:38px;
  background:inherit;
  background-color:rgba(238, 240, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 240, 252, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5867DD;
  text-align:left;
}
#u3625 {
  border-width:0px;
  position:absolute;
  left:1420px;
  top:626px;
  width:282px;
  height:38px;
  display:flex;
  color:#5867DD;
  text-align:left;
}
#u3625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3625_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:38px;
  background:inherit;
  background-color:rgba(56, 74, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 74, 215, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5867DD;
  text-align:left;
}
#u3625.mouseOver {
}
#u3625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:38px;
  background:inherit;
  background-color:rgba(238, 240, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 240, 252, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5867DD;
  text-align:left;
}
#u3626 {
  border-width:0px;
  position:absolute;
  left:1436px;
  top:838px;
  width:282px;
  height:38px;
  display:flex;
  color:#5867DD;
  text-align:left;
}
#u3626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3626_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:38px;
  background:inherit;
  background-color:rgba(56, 74, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 74, 215, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5867DD;
  text-align:left;
}
#u3626.mouseOver {
}
#u3626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#5867DD;
}
#u3627 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:130px;
  width:73px;
  height:25px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#5867DD;
}
#u3627 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3627_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#5867DD;
}
#u3627.mouseOver {
}
#u3627_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#6C757D;
}
#u3628 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:130px;
  width:73px;
  height:25px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#6C757D;
}
#u3628 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3628_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u3629 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:132px;
  width:6px;
  height:21px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#AAAAAA;
}
#u3629 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3629_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
