body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3630 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:164px;
  width:129px;
  height:258px;
}
#u3630_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:258px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:258px;
}
#u3632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
}
#u3632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u3633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:129px;
  height:45px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u3634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:129px;
  height:45px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:43px;
}
#u3635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:131px;
  width:129px;
  height:43px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
}
#u3636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:129px;
  height:42px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
}
#u3637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:216px;
  width:129px;
  height:42px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3638 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:41px;
  width:129px;
  height:90px;
  visibility:hidden;
}
#u3638_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:90px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:90px;
}
#u3640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u3640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u3641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:129px;
  height:45px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3642 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:86px;
  width:129px;
  height:90px;
  visibility:hidden;
}
#u3642_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:90px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:90px;
}
#u3644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u3644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u3645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:129px;
  height:45px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3646 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:131px;
  width:129px;
  height:86px;
  visibility:hidden;
}
#u3646_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:86px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:86px;
}
#u3648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:43px;
}
#u3648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:43px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:43px;
}
#u3649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:43px;
  width:129px;
  height:43px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3650 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:174px;
  width:129px;
  height:84px;
  visibility:hidden;
}
#u3650_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:84px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:84px;
}
#u3652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
}
#u3652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
}
#u3653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:129px;
  height:42px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3654 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:216px;
  width:129px;
  height:210px;
  visibility:hidden;
}
#u3654_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:210px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:210px;
}
#u3656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
}
#u3656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
}
#u3657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:129px;
  height:42px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
}
#u3658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:129px;
  height:42px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
}
#u3659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:129px;
  height:42px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
}
#u3660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:129px;
  height:42px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u3661 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:54px;
  width:161px;
  height:45px;
  display:flex;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u3661 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3661_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
}
#u3662 {
  border-width:0px;
  position:absolute;
  left:1808px;
  top:25px;
  width:52px;
  height:51px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1688px;
  height:2px;
}
#u3663 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:94px;
  width:1687px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.20380959946548133deg);
  -moz-transform:rotate(-0.20380959946548133deg);
  -ms-transform:rotate(-0.20380959946548133deg);
  transform:rotate(-0.20380959946548133deg);
}
#u3663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1059px;
}
#u3664 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:22px;
  width:1px;
  height:1058px;
  display:flex;
  -webkit-transform:rotate(-0.001326984967644358deg);
  -moz-transform:rotate(-0.001326984967644358deg);
  -ms-transform:rotate(-0.001326984967644358deg);
  transform:rotate(-0.001326984967644358deg);
}
#u3664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3665 {
  border-width:0px;
  position:absolute;
  left:1794px;
  top:85px;
  width:100px;
  height:90px;
}
#u3665_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
}
#u3667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
}
#u3670 {
  border-width:0px;
  position:absolute;
  left:1702px;
  top:43px;
  width:32px;
  height:33px;
  display:flex;
}
#u3670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3671_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:169px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u3671_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:169px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u3671_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:169px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u3671_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:169px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u3671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3671 {
  border-width:0px;
  position:absolute;
  left:1588px;
  top:91px;
  width:179px;
  height:169px;
  display:flex;
}
#u3671 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3671_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3671.hint {
}
#u3671_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:169px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3671.disabled {
}
#u3671_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:169px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3671.hint.disabled {
}
#u3672_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3672 {
  border-width:0px;
  position:absolute;
  left:1718px;
  top:25px;
  width:30px;
  height:30px;
  display:flex;
}
#u3672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3673_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3673_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3673 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:43px;
  width:300px;
  height:39px;
  display:flex;
  font-size:18px;
}
#u3673 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3673_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3673.disabled {
}
.u3673_input_option {
  font-size:18px;
}
